__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_Store
reports/*.png
*.csv
!data/files/*.csv
.ipynb_checkpoints/
uv.lock

/lightning_logs